docs/readability/
docs/source/_themes/mineyourmind/static/*
!docs/source/_themes/mineyourmind/static/css
docs/source/_themes/mineyourmind/static/css/*
!docs/source/_themes/mineyourmind/static/css/extra.css
docs/source/_themes/readthedocs/
docs/source/_themes/sphinx_rtd_theme/
docs/etc/
docs/.travis.yml
docs/crowdin.yaml
docs/Gruntfile.js
docs/README.md
docs/package.json
docs/assets/
docs/make.bat
docs/Makefile
docs/requirements.txt
